<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>

	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
		<ul class="navbar-nav">
			<li class="nav-item active"><a class="nav-link"
				th:href="@{/students}">Systéme Gestion Etudiant</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/students}">Gestion
					Etudiant</a></li>
			<li class="nav-item"><a class="nav-link" th:href="@{/}">Inscription
					et Connexion Etudiant</a></li>
		</ul>
	</nav>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 container justify-content-center card">
				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">Votre registration sur notre
						application Sytéme de Gestion des Etudiants a réussit</div>
				</div>
				<div class="text-center">
					  <img th:src="@{/img/admin.png}" />
					</div>
				<h1 class="text-center">Régistration</h1>
				<form th:action="@{/registration}" th:object="${user}" method="POST">
					<div class="form-group">
						<label class="control-label" for="firstName">Prénom</label> <input
							id="firstName" th:field="*{firstName}" required
							autofocus="autofocus" class="form-control"
							placeholder="Entrer un prénom" />
					</div>
					<div class="form-group">
						<label class="control-label" for="lastName">Nom</label> <input
							id="lastName" th:field="*{lastName}" required
							autofocus="autofocus" class="form-control"
							placeholder="Entrer un Nom" />
					</div>
					<div class="form-group">
						<label class="control-label" for="password">Password</label> <input
							type="password" name="password" th:field="*{password}" required
							autofocus="autofocus" class="form-control"
							placeholder="Entrer un passe phrase" />
					</div>
					<div class="form-group">
						<label class="control-label" for="email">Email</label> <input
							type="email" name="email"th:field="*{email}" required autofocus="autofocus"
							class="form-control" placeholder="Entrer un email" />
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Register</button>
						<span>Already registered?<a href="/" th:href="@{/login} "> Login
								ici</a></span>
					</div>
				</form>
			</div>
		</div>
	</div>

</body>
</html>